@import url("https://use.typekit.net/rrh1pzs.css");

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: rgb(204, 189, 49);
    color: rgb(118, 111, 68);
    font-family: "interstate", sans-serif;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 20px;
    background-color: rgb(140, 140, 140);
    color: gold;
}

header nav li {
    display: inline;
}

header img {
    width: 60px;
}

header input {
    border-radius: 30px;
    padding: 5px 10px;
    width: 120px
}

header input {
    border-radius: 20px;
    padding: 5px;
    width: 150px;
    height: 30px
}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.flex-item {
    flex: 1;
}

img {
    width: 100%
}

video {
    width: 100%;
}
footer {
    padding: 5vw 10vw;
    background-color: #111;
    color: #666;
}

footer .flex-container:first-child {
    margin-bottom: 2rem;
}

footer ul li {
    font-size: 0.8rem;
    line-height: 2;
    list-style-type: none;
}

footer ul li:first-child a,
footer ul:first-child li a {
    color: #eeff05;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

footer i {
    margin-left: 1ch;
    font-size: 1.6rem;
}

footer i:hover {
    transform: scale(1.1);
}

figure {
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 1900%;
    left: 1%;
    padding: 1rem;
    background-color: #f6ff00;
}

section {
    margin-bottom: 2rem;
    padding: 0 4rem;
}

.highlight {
    padding: 2rem;
    background-color: #d4cce7;
}

.memberfoto {
    background-image: url(membership\ foto.webp);
    align-self: stretch;
    background-size: cover;
}

#membership .flex-item {
    padding: 2rem;
}

figure {
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 12%;
    left: 15%;
}

footer {
    padding: 5vw 10vw;
    background-color: #111;
    color: #666;
}

footer .flex-container:first-child {
    margin-bottom: 2rem;
}

footer ul li {
    font-size: 0.8rem;
    line-height: 2;
    list-style-type: none;
}
footer li:first-child a {
    font-weight: 900;
    font-size: 1.2rem;
}